#**Taller 1 - Análisis de datos con *Pandas***
---

Esta tarea le permitirá practicar las habilidades adquiridas usando la librería para el análisis y manipulación de datos *pandas*. Utilizaremos el [dataset de Salarios en San Francisco - SF](https://www.kaggle.com/kaggle/sf-salaries) de *Kaggle*.

El conjunto de datos de salarios de San Francisco cuenta con múltiples variables salariales de los empleados de la ciudad entre $2011$ y $2014$ :

| Variable | Definición	| Valores |
| --- | --- | --- |
| EmployeeName | 	Nombre del empleado  | 	 |
| JobTitle 	| Título del empleo | |
| BasePay 	| Salario base 	| |
| OvertimePay |	Salario por tiempo extra 	| |
| OtherPay |	Otros pagos salariales 	| |
| Benefits |	Beneficios (Costo de beneficios de salud y pensión) 	| |
| TotalPay |	Salario total del periodo	| |
| TotalPayBenefits |	Salario total más beneficios | |
| Year 	| Año | |
| Notes |	Información del registro	| No aplica |
| Agency |	Ciudad de la agencia de empleos |	'San Francisco' |
| Status |	Estado del registro |	No aplica |

Ejecute la siguiente celda para importar *pandas*.

In [23]:
# Importar pandas
import pandas as pd

In [24]:
#TEST_CELL
!python --version
print('Pandas', pd.__version__)

Python 3.11.13
Pandas 2.2.2

Este material fue realizado con las siguientes versiones:

- Python 3.10.12

- Pandas: 2.0.3

Por favor complete las tareas que se detallan a continuación. El nivel de dificultad de las tareas es incremental.

In [25]:
### EJECUTAR ESTA CELDA SIN MODIFICARLA. SI FALLA, DEBE SEGUIR EL PROCEDIMIENTO DESCRITO ANTES.
sal = pd.read_csv('salarios.csv')
## Tarda un poco en cargar, tenga paciencia.
## Puede ver el progreso de la carga en la parte inferior izquierda de la ventana.

## **0.  Leer el archivo de datos**
---
> **IMPORTANTE:**

  1. Por favor descargue el archivo con el conjunto de datos desde el siguiente enlace: **[salarios.csv](https://raw.githubusercontent.com/JuezUN/datasets/master/salarios.csv)**.
  2. En el enlace, haga clic derecho y seleccione la opción **"Guardar como..."**.

  3. Cargue este archivo en su sistema de archivos de **Google Colaboratory**. Para hacer esto:
    
    * Haga clic donde aparece el icono del directorio en la parte izquierda de la ventana en *Google Colaboratory* que corresponde a la imagen de una carpeta.
    * Después, haga clic en el icono **"Subir"**.
    * Seleccione el archivo **`salarios.csv`** que previamente descargó y haga clic en **"Aceptar"**.

  
  4. Ejecute la siguiente celda para cargar el conjunto de datos dentro del DataFrame de *pandas* llamado **`sal`**:

> Haga una exploración de las variables con el método **`.info()`**. Asegúrese de tener $148654$ registros. **De lo contrario, es posible que haya ejecutado la celda anterior antes que terminara de cargar el archivo.** Si ese es el caso, deberá **ejecutarla nuevamente** cuando el archivo haya terminado de cargar.

In [26]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Salida esperada:**
```python
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype  
---  ------            --------------   -----  
 0   Id                148654 non-null  int64  
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64  
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
```

- Muestre las primeras 5 filas del *DataFrame* para verificar que leyó los datos correctamente.

In [27]:
print(sal.head(5))

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

A continuación se le pedirá que realice varias acciones sobre el *DataFrame* **`sal`**. Por favor siga las instrucciones y no cambie el nombre de las variables o funciones dadas.

## **1. ¿Cuál es el salario base promedio?**
---
Guarde el resultado de esta pregunta en la variable **`salario_promedio`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>
<p>

* La columna que almacena los salarios base en este conjunto de datos es: **`BasePay`**.

In [28]:
## salario_promedio

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
salario_promedio = sal["BasePay"].mean()
### FIN DEL CÓDIGO ###
salario_promedio

np.float64(66325.4488404877)

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6___5.4__84__0643
```

## **2. ¿Cuál es la mayor cantidad pagada por horas extra?**
---
Guarde el resultado de esta pregunta en la variable **`maximo_pago`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La columna **`OvertimePay`** contiene los valores pagados por concepto de horas extra.
* Recuerde que los nombres de las columnas son susceptibles a mayúsculas y minúsculas. Es diferente **`OvertimePay`** a **`overtimepay`**.

In [29]:
## maximo_pago

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
maximo_pago = sal["OvertimePay"].max()
### FIN DEL CÓDIGO ###

maximo_pago

245131.88

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
24__31._8
```

## **3. ¿Cuál es el cargo de "Lisa Murphy"?**
---

Guarde el resultado de esta pregunta en la variable **`cargo_lisa`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de "Lisa Murphy" en el *DataFrame* **`sal`**.
* Intente usar selección condicional para obtener el registro deseado. Además, debe quedarse únicamente con la columna del cargo (**`JobTitle`**).

In [30]:
## cargo_lisa

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)

cargo_lisa = sal.loc[sal['EmployeeName'] == 'Lisa Murphy', 'JobTitle']
cargo_lisa

72161    Recreation Leader
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):

```python
72___    Rec___tion _e_der
Name: JobTitle, dtype: object
```

## **4. ¿Cuánto gana incluyendo beneficios "John Scott"?**
---

Guarde el resultado de esta pregunta en la variable **`ganancias_john`**.

> **Nota:** esto incluye también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de John Scott en **`sal`**.
* Intente usar selección condicional y seleccionar solo la variable de interés.

In [31]:
## ganancias_john

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
ganancias_john = sal.loc[sal['EmployeeName']== "John Scott", "TotalPayBenefits"]
ganancias_john
### FIN DEL CÓDIGO ###

40234    178403.37
Name: TotalPayBenefits, dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
40__4    178__3.37
Name: TotalPayBenefits, dtype: float64
```

## **5. ¿Cuál es el nombre de la persona que más gana?**
---
Guarde el resultado de esta pregunta en la variable **`max_pers_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [32]:
## max_pers_gana

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
max_pers_gana = sal.loc[sal['TotalPayBenefits'].idxmax(), 'EmployeeName']
max_pers_gana
### FIN DEL CÓDIGO ###

'NATHANIEL FORD'

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
_    NA_____EL __RD
Name: EmployeeName, dtype: object
```

## **6. ¿Cuál es el cargo de la persona que menos gana?**
---

Guarde el resultado de esta pregunta en la variable **`min_cargo_gana`**.

> **Nota:** considerando también los beneficios (**`TotalPayBenefits`**).

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo *Series* con el índice original de la persona en **`sal`**.
* Utilice indexado condicional en filas y selección de columnas para obtener la serie deseada.

In [33]:
## min_pers_gana
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
min_cargo_gana = sal.loc[[sal['TotalPayBenefits'].idxmin()], "JobTitle"]
min_cargo_gana
### FIN DEL CÓDIGO ###

148653    Counselor, Log Cabin Ranch
Name: JobTitle, dtype: object

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
14___3    Co____lor, Lo_ _abin Ra__h
Name: JobTitle, dtype: object
```

## **7. ¿Cuál es el salario base promedio de todos los empleados por año?**
---

Guarde el resultado de esta pregunta en la variable **`sal_base_prom`**.

> **Nota:** El cálculo se realiza en los años $2011$ a $2014$, la salida tiene que ser de tipo **`pd.Series`** o **`pd.DataFrame`** y los índices deben corresponder al año.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debe contener un objeto de tipo **`pd.Series`** o **`pd.DataFrame`** con el índice siendo el año y el valor promedio del año como contenido.
* Verifique el tipo de dato obtenido en cada acción. En muchos casos el objeto retornado tras realizar una operación es un objeto válido de *pandas* sobre el que se pueden hacer más operaciones.
* Puede verificar (en una celda aparte) que el tamaño del objeto resultante **`sal_base_prom.shape`** sea **`(4,1)`** o **`(4,)`**.

In [34]:
## sal_base_prom
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
sal_base_prom = sal.groupby('Year')['BasePay'].mean()
sal_base_prom
### FIN DEL CÓDIGO ###

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
Year
2011    63___.___517
2012    65___.___857
2013    69___.___216
2014    66___.___924
Name: BasePay, dtype: float64
```

## **8. ¿Cuántos cargos únicos distintos existen?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_unicos`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* No es necesario realizar el conteo con múltiples operaciones. Uno de los métodos presentados en la guía realiza esta tarea.

In [40]:
## cargos_unicos

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_unicos = sal['JobTitle'].nunique()
cargos_unicos
### FIN DEL CÓDIGO ###

2159

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2__9
```

## **9. ¿Cuáles son los 5 cargos más comunes?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_comunes`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un objeto *Series*, con el índice correspondiendo al nombre del cargo, y la frecuencia de dicho cargo en su valor.

In [41]:
## cargos_comunes

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_comunes = sal['JobTitle'].value_counts().head(5)
cargos_comunes

### FIN DEL CÓDIGO ###

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

La salida de la celda anterior debería ser (no se muestran todos los caracteres):
```python
Tr___it Op___tor                7__6
Sp___al Nu___                   4__9
Re___tered Nu___                3__6
Pu___c Svc Ai___Pu___c Wo___    2__8
Po___e Of___er 3                2__1
Name: JobTitle, dtype: int64
```

## **10. ¿Cuántos cargos estaban ocupados solamente por una persona en 2013?**
---

Guarde el resultado de esta pregunta en la variable **`cargos_una_pers`**.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* La variable debería contener un número entero.
* Intente combinar métodos de entendimiento de datos con selección condicional.
* Puede usar la suma **`sum`** para contar el total de valores **`True`** en un arreglo de valores booleanos.

In [42]:

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 1 línea de código)
cargos_una_pers = sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)
cargos_una_pers
### FIN DEL CÓDIGO ###

202

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
2_2
```

## **11. ¿Cuántas personas tienen la palabra 'Chief' en su cargo?**
---

Guarde el resultado de esta pregunta en la variable **`total_chief`**.

**Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede definir una función para detectar la palabra **`'chief'`** y aplicarla en el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Si se realiza una operación matemática como la suma en valores booleanos se cuentan como 0 (**`False`**) y 1 (**`True`**).

In [47]:
### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)
### FIN DEL CÓDIGO ###

La salida de la celda anterior debería ser (no se muestran todas las cifras):
```python
6_7
```

## **12. ¿Cuáles son los 10 apellidos más comunes?**
---
Guarde el resultado de esta pregunta en la variable **`apellido_comun`**. Para simplificar las cosas, vamos a asumir que la última palabra en la cadena **`EmployeeName`** corresponde al apellido de la persona. Debe retornar los 10 apellidos más comunes escritos en **mayúsculas**, junto con sus frecuencias.

> **Nota:** Es probable que tenga que implementar una función adicional.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Pistas</b></font>
</summary>

* Puede usar la función **`apply`** para aplicar una función a cada uno de los elementos en una columna.
* Puede definir una función para separar el nombre completo y convertirlo en mayúscula para aplicarla luego sobre el *DataFrame*. Para esto puede necesitar funciones sobre [cadenas de texto](https://www.w3schools.com/python/python_ref_string.asp) de *Python*.
* Solo nos interesan dos variables, por lo que debería realizar una selección previa de las características.

In [48]:
## apellido_comun

### ESCRIBA SU CÓDIGO AQUÍ ### (~ 6 líneas de código)

def apellido_mayuscula(name):
  return name.split()[-1].upper()

sal['EmployeeName'].apply(apellido_mayuscula).value_counts().head(10)
  # Implemente esta función: debe retornar la última palabra,
  # separando por espacio de la cadena "name" dada.

# Utilice la función anterior para cada uno de los elementos en la columna "EmployeeName"
# y obtenga los 10 apellidos más comunes. (NO MODIFIQUE EL DATAFRAME ORIGINAL)


### FIN DEL CÓDIGO ###

EmployeeName
WONG        1859
JR          1835
LEE         1834
CHAN        1162
JOHNSON      771
WILLIAMS     705
SMITH        678
CHEN         608
JONES        591
NG           559
Name: count, dtype: int64

La salida de la celda anterior debería ser:
```python
W__G        1__9
J_          1__5
LE_         1__4
C__N        1__2
JO___ON      7_1
WI___AMS     7_5
SM__H        6_8
CH__         6_8
JO__S        5_1
N_           5_9
Name: EmployeeName, dtype: int64
```

**¡Felicitaciones!** Esta tarea fue más retadora. ¡Muy buen trabajo!

## **Entrega**

Para entregar el notebook por favor haga lo siguiente:
1. Descargue el notebook (`Archivo` -> `Descargar .ipynb`).
2. Guardar el archivo descargado y envialo en la fecha correspondiente.